.fieldset-wrapper {
  margin-left: 0 !important;
}

.solr-page-thumb {
  float: left;
  clear: both;
  border: 1px solid #eee;
}

.search-result-wrapper {
  height: 250px;
  width: 250px;
  position: relative;
  float: left;
  padding: 0;
  margin-right: 1em;
}

.islandora-solr-search-result ul {
  list-style-type: none;
}

.islandora-solr-content {
  margin-top: 0 !important;
}

.islandora-solr-search-result {
  width: 828px;
}

#block-islandora-solr-basic-facets, #block-islandora-solr-sort {
  width: 88% !important;
}

.nextitem-link, .previtem-link {
  float: left;
}

