#islandora-object-main {
  width: 100%;
}

.islandora-basic-collection .islandora-solr-content {
  width: 99% !important;
}

.islandora-solr-search-result {
  width: 100% !important;
}

.fullwidth {
  width: 100% !important;
}

.islandora-basic-collection #sidebar, #two-col-right-main #sidebar {
  width: 25% !important;
  float: left !important;
}

#two-col-left-main .islandora-basic-collection {
  width: 70%;
  float: left;
}

#sidebar .region-sidebar {
  width: 95% !important;
  margin: 0 !important;
  padding-left: 2px;
}

.fieldset-wrapper {
  margin-left: 0 !important;
}

.solr-page-thumb {
  float: left;
  clear: both;
  border: 1px solid #eee;
}

.search-result-wrapper {
  height: none;
  width: 212px;
  position: relative;
  float: left;
  padding: 0;
  margin-right: 1em;
}

.islandora-solr-search-result ul {
  list-style-type: none;
}

.islandora-solr-content {
  margin-top: 0 !important;
  margin-left: 1%;
  width: 70%;
  float: left;
}

.islandora-solr-content #sidebar {
  width: 27%;
  float: left;
}

.islandora-solr-content #solr-search-results {
  width: 70%;
  float: right;
}

.content .islandora-basic-collection-metadata-image {
  width: 67%;
  float: left;
  margin: 0 auto;
}

.breadcrumb {
  padding-top: 10px;
}

.content #metadata-sidebar {
  float: right;
  padding-left: 20px;
  width: 30%;
}

.islandora-solr-search-result {
  width: 828px;
}

#block-islandora-solr-basic-facets, #block-islandora-solr-sort, #block-islandora-solr-advanced {
  width: 88% !important;
}

#islandora-solr-advanced-search-form div.form-item {
    min-width: 133px;
}

.nextitem-link, .previtem-link {
  float: left;
}

.solr-label {
  display: inline-block;
  min-width: 19%;
  width: 19%;
  padding-right: 10px;
  color: #777;
  font-size: smaller;
  float: left;
}

.solr-fieldvalue {
  width: 80%;
  float: right;
}

.solr-value {
  clear: both;
}

.solr-metafields {
  width: 62%;
  float: right;
}
